@import "tailwindcss";

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
